h1 {
  font-family: 'Abril Fatface', cursive;
}

p {
  padding:0px;
  margin: 0px;
}
#bookList input {
  /*border-style: none;*/
  padding-left: 0;
}

#bookSubmission h2 {
  background-color: yellowgreen;
}

#bookSubmission button {
  background-color: yellowgreen;
  border-color: yellowgreen;
  color: white;
}

#books h2 {
  background-color: crimson;
}

#books button {
  background-color: crimson;
  border-color: crimson;
  color: white;
}

.comments {
  padding-top: 6px;
  padding-bottom: 6px;
}

.postedBy {
  font-style: italic;
}
